# Run manually to reformat a file:
# clang-format -i --style=file <file>

Language     : Cpp
BasedOnStyle : LLVM
IndentWidth  : 4

# Force pointers to the type for C++.

DerivePointerAlignment  : false
PointerAlignment        : Left